@media only screen and (min-width: 992px) {
    body {
        header {
            // normal navbar
            #navmenu {
                display: flex;
                padding: 22px;
                justify-content: space-between !important;
                background-color: #fff;
                .navbar {
                    position: relative;
                    a {
                        img {}
                    }
                    button {}
                }
                .collapse {
                    ul {
                        margin-left: 70px;
                        justify-content: flex-end;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        li {
                            a {
                                .item_text {
                                    position: relative;
                                    display: inline-block;
                                    vertical-align: top;
                                    &::before {
                                        content: '';
                                        height: 1px;
                                        background-color: $nav-font-color;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 0%;
                                        margin: auto;
                                        transition: width .2s ease-in-out;
                                    }
                                }
                                .active {
                                    &::before {
                                        content: '';
                                        height: 1px;
                                        width: 100%;
                                        background-color: $nav-font-color;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        margin: auto;
                                    }
                                }
                                &:hover .item_text::before {
                                    width: 100%;
                                }
                                position: relative;
                                width: 100%;
                                height: 100%;
                                padding: 0 25px;
                                color: $nav-font-color;
                                font-size: 12px;
                                font-weight: 900;
                                font-family: 'Montserrat',
                                sans-serif;
                                text-transform: uppercase;
                                line-height: 22px;
                                letter-spacing: .1em;
                                box-sizing: border-box;
                                transition: linear all 0.3s;
                                &:hover {}
                                &::after {
                                    display: none;
                                }
                            }
                            .dropdown-menu {
                                list-style: none;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
                                background-color: #fff;
                                padding: 40px 0;
                                margin-left: 0px!important;
                                padding-left: 0px !important;
                                padding-top: 0px!important;
                                margin-top: 0px;
                                background-color: #fff;
                                a {
                                    background-color: #fff;
                                    text-decoration: none;
                                }
                                .newUl {
                                    list-style: none;
                                    margin-left: 0px!important;
                                    padding-left: 0px !important;
                                    li {
                                        position: relative;
                                        ul {
                                            display: none!important;
                                            list-style: none;
                                            margin-left: 0px;
                                            padding-left: 0px;
                                            left: 160px;
                                            bottom: 45px;
                                            li {
                                                position: relative;
                                                a {}
                                            }
                                        }
                                        &:hover ul {
                                            display: block!important;
                                        }
                                    }
                                }
                                .HeadTextUl {
                                    width: 1000px;
                                    padding: 20px 20px;
                                    left: 0px;
                                    padding-left: 0px;
                                    justify-content: space-between;
                                    list-style: none;
                                    display: flex;
                                    margin-left: 0px;
                                    .headtext {
                                        h5 {
                                            text-align: center !important;
                                        }
                                        ul {
                                            margin-left: 0px;
                                            list-style: none;
                                            li {
                                                position: relative;
                                                a {
                                                    position: relative;
                                                    padding: 0px;
                                                    text-decoration: none;
                                                }
                                            }
                                        }
                                    }
                                    li {
                                        a {}
                                    }
                                }
                            }
                            &:hover .dropdown-menu {
                                display: block !important;
                                border: none;
                                padding-top: 3rem;
                                position: absolute;
                            }
                            &:hover .shoptext222 {
                                display: block !important;
                                position: absolute;
                                padding-top: 3rem;
                                left: -400px;
                                top: 22px;
                                border: none;
                            }
                            &:hover .elements {
                                display: block !important;
                            }
                        }
                    }
                }
                .icons {
                    display: flex;
                    .search {
                        cursor: pointer;
                        padding: 15px;
                        a {
                            text-decoration: none;
                            color: $nav-font-color;
                            i {}
                            .input-group {
                                display: none;
                            }
                        }
                        form {
                            display: none;
                            .form-holder {
                                position: absolute;
                                top: 80px;
                                display: inline-block;
                                width: 20%;
                                z-index: 99999;
                                right: 170px;
                                vertical-align: middle;
                                box-sizing: border-box;
                                background-color: #fff;
                                padding-top: 6px;
                                padding-bottom: 7px;
                                .search-field {
                                    width: calc(100% - 40px);
                                    padding: 0 10px 12px 20px;
                                    font-family: inherit;
                                    border: 0px;
                                    outline: 0px;
                                }
                                button {
                                    background-color: white;
                                    border: 0px;
                                    span {
                                        i {}
                                    }
                                }
                            }
                        }
                        &:hover .input-group {
                            display: flex!important;
                        }
                        &:hover form {
                            display: block;
                        }
                    }
                    .bag {
                        padding: 15px;
                        position: relative;
                        a {
                            text-decoration: none;
                            color: $nav-font-color;
                            i {
                                position: relative;
                                .badge {
                                    display: inline-block;
                                    padding: 1px 4px;
                                    font-size: 10px;
                                    font-weight: 600;
                                    line-height: 1;
                                    color: $white-color;
                                    text-align: center;
                                    white-space: nowrap;
                                    vertical-align: baseline;
                                }
                            }
                            .cart-icon-text {
                                color: $nav-font-color;
                                font-size: 11px;
                                font-weight: 900;
                                font-family: Montserrat, sans-serif;
                                margin-left: 10px;
                            }
                        }
                        .shopping-cart-dropdown {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: auto;
                            right: 0;
                            width: 245px;
                            background-color: #fff;
                            border: 1px solid #e8e8e8;
                            text-align: left;
                            z-index: 1000;
                            overflow: hidden;
                            box-sizing: border-box;
                            ul {
                                margin: 23px 20px;
                                padding: 0;
                                list-style-position: inside;
                                li {
                                    position: relative;
                                    display: table;
                                    table-layout: fixed;
                                    height: 100%;
                                    width: 100%;
                                    padding: 0 0 15px;
                                    box-sizing: border-box;
                                    .item-image-holder {
                                        padding-top: 0;
                                        position: relative;
                                        display: table-cell;
                                        height: 100%;
                                        width: 50px;
                                        vertical-align: top;
                                        overflow: hidden;
                                        img {
                                            display: block;
                                            max-width: 100%;
                                        }
                                    }
                                    .info-holder {
                                        font-family: Montserrat, sans-serif;
                                        font-size: 12px;
                                        margin-left: 10px;
                                        .product-title {
                                            text-transform: uppercase;
                                            font-weight: 900;
                                            a {}
                                        }
                                        .quantity {
                                            color: $home-font-color;
                                        }
                                        .amount {
                                            color: $home-font-color;
                                        }
                                        .a {
                                            span {
                                                i {}
                                            }
                                        }
                                    }
                                }
                                .cart-bottom {
                                    .subtotal-holder {
                                        font-family: Montserrat, sans-serif;
                                        text-transform: uppercase;
                                        display: flex;
                                        font-size: 12px;
                                        margin-left: 10px;
                                        justify-content: space-between;
                                        .total {
                                            font-weight: 900;
                                        }
                                        .total-amount {}
                                    }
                                    .btn-holder {
                                        display: flex;
                                        justify-content: space-evenly;
                                        margin-top: 10px;
                                        border: 0px;
                                        .btn {
                                            outline: 0px;
                                            padding: 10px 20px;
                                            font-size: 10px;
                                            border-radius: 0px;
                                        }
                                        .view {
                                            outline: 0px;
                                            background-color: $red-color;
                                            border: 0px;
                                            &:hover {
                                                background-color: orangered;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:hover .shopping-cart-dropdown {
                            display: block;
                        }
                    }
                }
            }
            //scroll zamani yaranan navbar
            #stickynavbar {
                position: fixed;
                top: 0;
                width: 100%;
                display: none;
                z-index: 99999999;
                padding: 10px;
                justify-content: space-between !important;
                background-color: #fff;
                .navbar {
                    position: relative;
                    a {
                        img {}
                    }
                    button {}
                }
                .collapse {
                    justify-content: flex-end;
                    ul {
                        margin-left: 70px;
                        position: relative;
                        width: 80%;
                        height: 100%;
                        li {
                            a {
                                .item_text {
                                    position: relative;
                                    display: inline-block;
                                    vertical-align: top;
                                    &::before {
                                        content: '';
                                        height: 1px;
                                        background-color: $nav-font-color;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 0%;
                                        margin: auto;
                                        transition: width .2s ease-in-out;
                                    }
                                }
                                .active {
                                    &::before {
                                        content: '';
                                        height: 1px;
                                        width: 100%;
                                        background-color: $nav-font-color;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        margin: auto;
                                    }
                                }
                                &:hover .item_text::before {
                                    width: 100%;
                                }
                                position: relative;
                                width: 100%;
                                height: 100%;
                                padding: 0 25px;
                                color: $nav-font-color;
                                font-size: 12px;
                                font-weight: 900;
                                font-family: 'Montserrat',
                                sans-serif;
                                text-transform: uppercase;
                                line-height: 22px;
                                letter-spacing: .1em;
                                box-sizing: border-box;
                                transition: linear all 0.3s;
                                &:hover {}
                                &::after {
                                    display: none;
                                }
                            }
                            .dropdown-menu {
                                list-style: none;
                                margin-left: 0px!important;
                                padding-left: 0px !important;
                                padding-top: 0px!important;
                                margin-top: 0px;
                                background-color: #fff;
                                a {
                                    background-color: #fff;
                                    text-decoration: none;
                                }
                                .newUl {
                                    list-style: none;
                                    margin-left: 0px!important;
                                    padding-left: 0px !important;
                                    li {
                                        position: relative;
                                        ul {
                                            display: none!important;
                                            list-style: none;
                                            margin-left: 0px;
                                            padding-left: 0px;
                                            left: 160px;
                                            bottom: 45px;
                                            li {
                                                position: relative;
                                                a {}
                                            }
                                        }
                                        &:hover ul {
                                            display: block!important;
                                        }
                                    }
                                }
                                .HeadTextUl {
                                    width: 1000px;
                                    padding: 20px 20px;
                                    left: 0px;
                                    padding-left: 0px;
                                    justify-content: space-between;
                                    list-style: none;
                                    display: flex;
                                    margin-left: 0px;
                                    .headtext {
                                        h5 {
                                            text-align: center !important;
                                        }
                                        ul {
                                            margin-left: 0px;
                                            list-style: none;
                                            li {
                                                position: relative;
                                                a {
                                                    position: relative;
                                                    padding: 0px;
                                                    text-decoration: none;
                                                }
                                            }
                                        }
                                    }
                                    li {
                                        a {}
                                    }
                                }
                            }
                            &:hover .dropdown-menu {
                                display: block !important;
                                border: none;
                                padding-top: 3rem;
                                position: absolute;
                            }
                            &:hover .shoptext222 {
                                display: block !important;
                                position: absolute;
                                padding-top: 3rem;
                                left: -550px;
                                top: 22px;
                                border: none;
                            }
                            &:hover .elements {
                                display: block !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

//responsive ekran
@media only screen and (max-width: 992px) {
    body {
        header {
            //normal navbar
            #navmenu {
                .navbar {
                    a {
                        img {}
                    }
                    button {}
                }
                .collapse {
                    ul {
                        list-style: none;
                        li {
                            a {
                                .item_text {
                                    position: relative;
                                    display: inline-block;
                                    vertical-align: top;
                                    &::before {
                                        content: '';
                                        height: 1px;
                                        background-color: $nav-font-color;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 0%;
                                        margin: auto;
                                        transition: width .2s ease-in-out;
                                    }
                                }
                                .active {
                                    &::before {
                                        content: '';
                                        height: 1px;
                                        width: 100%;
                                        background-color: $nav-font-color;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        margin: auto;
                                    }
                                }
                                &:hover .item_text::before {
                                    width: 100%;
                                }
                                position: relative;
                                width: 100%;
                                height: 100%;
                                padding: 0 0px;
                                color: $nav-font-color;
                                font-size: 12px;
                                font-weight: 900;
                                font-family: 'Montserrat',
                                sans-serif;
                                text-transform: uppercase;
                                line-height: 22px;
                                letter-spacing: .1em;
                                box-sizing: border-box;
                                transition: linear all 0.3s;
                                &:hover {}
                                &::after {
                                    display: none;
                                }
                            }
                            .dropdown-menu {
                                // list-style: none;
                                box-shadow: 0px 0px 0px 0px;
                                border: 0px;
                                // background-color: #fff;
                                // padding: 40px 0;
                                // margin-left: 0px!important;
                                // padding-left: 0px !important;
                                // padding-top: 0px!important;
                                // margin-top: 0px;
                                // background-color: #fff;
                                a {
                                    background-color: #fff;
                                    text-decoration: none;
                                }
                                .newUl {
                                    list-style: none;
                                    // margin-left: 0px!important;
                                    padding-left: 0px !important;
                                    li {
                                        position: relative;
                                        ul {
                                            display: none!important;
                                            list-style: none;
                                            padding-left: 0px !important;
                                            margin-left: 0px !important;
                                            // margin-left: 0px;
                                            // padding-left: 0px;
                                            // left: 160px;
                                            // bottom: 45px;
                                            li {
                                                position: relative;
                                                a {}
                                            }
                                        }
                                        &:hover ul {
                                            display: block!important;
                                        }
                                    }
                                }
                                .HeadTextUl {
                                    // width: 1000px;
                                    // padding: 20px 20px;
                                    // left: 0px;
                                    // padding-left: 0px;
                                    // justify-content: space-between;
                                    list-style: none;
                                    padding-left: 0px !important;
                                    margin-left: 0px !important;
                                    // display: flex;
                                    // margin-left: 0px;
                                    .headtext {
                                        text-align: left !important;
                                        height: 100%!important;
                                        h5 {
                                            text-align: left !important;
                                        }
                                        ul {
                                            //     margin-left: 0px;
                                            list-style: none;
                                            padding-left: 0px !important;
                                            margin-left: 0px !important;
                                            li {
                                                //         a {
                                                padding-left: 0px !important;
                                                margin-left: 0px !important;
                                                //             text-decoration: none;
                                                //         }
                                                //     }
                                            }
                                        }
                                    }
                                    li {
                                        padding-left: 0px !important;
                                        margin-left: 0px !important;
                                        a {
                                            padding-left: 0px !important;
                                            margin-left: 0px !important;
                                        }
                                    }
                                }
                            }
                            &:hover .dropdown-menu {
                                display: block !important;
                                // border: none;
                                // padding-top: 3rem;
                                // position: absolute;
                            }
                            &:hover.shoptext222 {}
                            &:hover .elements {
                                display: block !important;
                            }
                        }
                    }
                }
                .icons {
                    display: none;
                    .search {
                        a {
                            i {}
                            .input-group {}
                        }
                        &:hover .input-group {}
                    }
                    .bag {
                        a {
                            i {}
                        }
                    }
                }
            }
            //scroll zamani yaranacaq navbarin responsive zamani mane olmamasi uchun itmesi
            #stickynavbar {
                display: none !important;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    body {
        header {
            //iconlarin responsive zamani mane olmamasi uchun itmesi
            #navmenu {
                display: flex;
                padding: 22px;
                justify-content: space-between !important;
                background-color: #fff;
                .navbar {
                    position: relative;
                    a {
                        img {}
                    }
                    button {}
                }
                .icons {
                    display: none;
                    .search {
                        padding: 20px;
                        a {
                            text-decoration: none;
                            color: $nav-font-color;
                            i {}
                            .input-group {
                                display: none;
                            }
                        }
                        &:hover .input-group {
                            display: flex!important;
                        }
                    }
                    .bag {
                        padding: 20px;
                        a {
                            text-decoration: none;
                            color: $nav-font-color;
                            i {}
                        }
                    }
                }
            }
        }
    }
}